@charset "UTF-8";

header {
    background-color: white;
    background: url("../images/logo.png") no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    float: right;
    left: 20px;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.red_circle.available {
    background-color: #ff545f;
}
